header {
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #0A0A0A;
    transition: background-color 0.3s;
    z-index: 100;
}

.header-container.sticky {
    background-color: rgba(143, 143, 143, 0.2);
}

.logo-box {
    /* Styles for your logo */
}

.navbar {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.navbar ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    width: 60%;
}

.navbar li {
    flex: 1;
    text-align: center;
}

.navbar a {
    text-decoration: none;
    color: #d3d0d0;
    text-transform: uppercase;
    position: relative;
}

.navbar a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: #ffffff;
    width: 0;
    transition: width 0.5s;
}

.navbar a:hover:after {
    width: 100%;
}