body {
    background: linear-gradient(to right, #0a1419, #1a2a30, #23343b);
    color: white;
    /* Ensures text is visible on a dark background */
    margin: 0;
    /* Removes default margin */
    padding: 0;
    /* Removes default padding */
    height: 100vh;
    /* Full viewport height */
    width: 100%;
    /* Full width */
}